@model Computadoras110324V2.Models.Computadora

@{
    ViewData["Title"] = "Create";
}

<h3 class="text-info ">Crear nuevo registro</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-5">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <input asp-for="FechaLlegada" class="form-control" />
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="row row-cols-md-12">
                @await Html.PartialAsync("_DetComponente", Model.Componente)
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-secondary" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
